# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
**/*.py[cod]
*$py.class

# Model weights
**/*.pt
**/*.pth
**/*.onnx

pretrained_weights/*

# Ipython notebook
*.ipynb

# IDEs
.python-version
.idea/*
.vscode/*
*.code-workspace

# Temporary files or benchmark resources
animations/*
build/*
tmp/*
torch_compile_debug/*
venv/*
